@using IssueTrackingSystem2.Web.ViewModels.Project
@model IEnumerable<DashboardProjectViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>

<hr />

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p>
        <a class="btn btn-success" asp-area="Administration" asp-controller="Project" asp-action="Create">
            <span class="text-dark font-weight-bold">Create New Project</span>
        </a>
    </p>

    <h2>Created projects by @this.User.Identity.Name</h2>
    <partial name="_DashboardProjectPartial" model="Model" />
}
else
{
    if (Model.Where(model => model.Leader.Id == this.UserManager.GetUserId(this.User)).Any())
    {
        <h2>Projects that @this.User.Identity.Name is a Project Leader</h2>
        <partial name="_DashboardProjectPartial"
                 model="@Model.Where(model => model.Leader.Id == this.UserManager.GetUserId(this.User))" />
    }

    if (Model
        .Where(model => model.Milestones
            .Any(milestone => milestone.Issues
                .Any(issue => issue.AssigneeId == this.UserManager.GetUserId(this.User))))
        .Any())
    {
        <h2>Projects with issues that @this.User.Identity.Name is an Issue Assignee</h2>
        <partial name="_DashboardProjectPartial"
                 model="@Model
                            .Where(model => model.Milestones
                                .Any(milestone => milestone.Issues
                                    .Any(issue => issue.AssigneeId == this.UserManager.GetUserId(this.User))))" />
    }
}
