@using IssueTrackingSystem2.Web.ViewModels.Project
@model IEnumerable<DashboardProjectViewModel>

<div>
    @if (Model == null || !Model.Any())
    {
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <h3>@this.User.Identity.Name still have not created any projects</h3>
        }
        else
        {
            <h3>
                @string.Format(
                    format: MessagesConstants.StillHaveNotBeenAssignedTo,
                    arg0: this.User.Identity.Name,
                    arg1: $"{GlobalConstants.Projects} or {GlobalConstants.Issues}")
            </h3>
        }
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.Name)</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.ProjectKey).SplitStringByCapitalLetters()</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.Description)</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.Leader)</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.Milestones)</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.CompletedMilestones).SplitStringByCapitalLetters()</h3>
                    </th>
                    <th>
                        <h3>@nameof(DashboardProjectViewModel.Labels)</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Project", new { id = project.Id }))'">
                        <td class="project-name">
                            @project.Name
                            @*<a class="nav-link text-dark"
                                asp-area=""
                                asp-controller="Project"
                                asp-action="Details">@project.Name</a>*@
                        </td>
                        <td>@project.ProjectKey</td>
                        <td>@project.Description</td>
                        <td>@project.Leader.UserName</td>
                        <td>@project.Milestones.Count</td>
                        <td>@project.CompletedMilestones.Count</td>
                        <td>
                            @*@foreach (var label in project.Labels)
                                {
                                    <span style="color:@label.Color">@label.Title</span>
                                }*@
                            <partial name="_LabelsPartial" model="project.Labels" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>*@
</div>
