@model MilestoneDetailsViewModel

@{
    ViewData["Title"] = "Milestone Details";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="col-md-8">
    <div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName)
            || Model.Project.LeaderId == this.UserManager.GetUserId(this.User))
        {
        <a asp-area=""
           asp-controller="@ValuesConstants.MilestoneControllerName"
           asp-action="@ValuesConstants.UpdateActionName"
           asp-route-id="@Model.Id"
           asp-route-leaderId="@Model.Project.LeaderId" class="btn btn-success button">
            @ValuesConstants.Update
        </a>
        }

        <a asp-area=""
           asp-controller="@ValuesConstants.IssueControllerName"
           asp-action="@ValuesConstants.ListActionName"
           asp-route-milestoneId="@Model.Id"
           class="btn btn-light text-info text-lg-center font-weight-bold">
            @GlobalConstants.Issues
        </a>
    </div>
    <br />
    <table class="table table-striped">
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.Title):</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.Description):</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.StartDate).SplitStringByCapitalLetters():</th>
            <td>@Model.StartDate</td>
        </tr>
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.CompletionDate).SplitStringByCapitalLetters():</th>
            <td>@Model.CompletionDate</td>
        </tr>
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.Project)</th>
            <td>(Project ID: @Model.Project.Id) @Model.Project.Name</td>
        </tr>
        <tr>
            <th>@nameof(MilestoneDetailsViewModel.Status)</th>
            <td>@Model.Status.Name</td>
        </tr>
    </table>
</div>
<br />
<div>
    <a asp-controller="@ValuesConstants.MilestoneControllerName"
       asp-action="@ValuesConstants.ListActionName"
       asp-route-projectId="@Model.Project.Id"
       class="btn btn-info">
        Back to List
    </a>
</div>
