<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a asp-area=""
           asp-controller="@ValuesConstants.ProjectControllerName"
           asp-action="@ValuesConstants.ListActionName"
           class="nav-link text-dark">
            @GlobalConstants.Projects
        </a>
    </li>
    <li class="nav-item">
        <a asp-area=""
           asp-controller="@ValuesConstants.IssueControllerName"
           asp-action="@ValuesConstants.ListAllActionName"
           class="nav-link text-dark">
            @GlobalConstants.Issues
        </a>
    </li>
    <li class="nav-item">
        <a asp-area=""
           asp-controller="@ValuesConstants.LabelControllerName"
           asp-action="@ValuesConstants.ListActionName"
           class="nav-link text-dark">
            @GlobalConstants.Labels
        </a>
    </li>
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>*@
</ul>