@using IssueTrackingSystem2.Web.ViewModels.Project
@model IEnumerable<ProjectListViewModel>

@{
    ViewData["Title"] = $"{this.User.Identity.Name}'s Affiliated Projects";
}

<h1>@ViewData["Title"]</h1>

<hr />
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div>
        <a asp-area="Administration" 
           asp-controller="Project" 
           asp-action="Create" 
           class="btn btn-success text-dark font-weight-bold" >
            @ValuesConstants.Create
        </a>
    </div>

    <br />
    <h4>Created projects by @this.User.Identity.Name</h4>
    if (Model != null && Model.Any())
    {
        <partial name="_ProjectsPartial" model="Model" />
    }
    else
    {
        <h3>@this.User.Identity.Name still have not created any projects</h3>
    }
}
else
{
    var isProjectLeader = Model.Where(model => model.Leader.Id == this.UserManager.GetUserId(this.User)).Any();
    if (isProjectLeader)
    {
        <h4>Projects that @this.User.Identity.Name is a Project Leader</h4>
        <partial name="_ProjectsPartial"
                 model="@Model.Where(model => model.Leader.Id == this.UserManager.GetUserId(this.User))" />
    }

    var isIssueAssignee = Model
        .Where(model => model.Milestones
            .Any(milestone => milestone.Issues
                .Any(issue => issue.AssigneeId == this.UserManager.GetUserId(this.User))))
        .Any();

    if (isIssueAssignee)
    {
        <h4>Projects with issues that @this.User.Identity.Name is an Issue Assignee</h4>
        <partial name="_ProjectsPartial"
                 model="@Model
                            .Where(model => model.Milestones
                                .Any(milestone => milestone.Issues
                                    .Any(issue => issue.AssigneeId == this.UserManager.GetUserId(this.User))))" />
    }

    @if (!isProjectLeader && !isIssueAssignee)
    {
        <h4>
            @string.Format(
                format: MessagesConstants.StillHaveNotBeenAssignedTo,
                arg0: this.User.Identity.Name,
                arg1: $"{GlobalConstants.Projects} or {GlobalConstants.Issues}")
        </h4>
    }
}
