@model CommentsViewModel

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

@{
    ViewData["Title"] = $"{Model.Issue.Title}'s {GlobalConstants.Comments}";
}

<h1>@this.ViewData["Title"]</h1>

<hr />
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName)
        || Model.Issue.Milestone.Project.LeaderId == this.UserManager.GetUserId(this.User)
        || Model.Issue.AssigneeId == this.UserManager.GetUserId(this.User))
{
    <div>
        <a asp-area=""
           asp-controller=@ValuesConstants.CommentControllerName
           asp-action=@ValuesConstants.CreateActionName
           asp-route-issueId=@Model.Issue.Id
           asp-route-leaderId="@Model.Issue.Milestone.Project.LeaderId"
           asp-route-assigneeId="@Model.Issue.AssigneeId"
           class="btn btn-success button">
            @ValuesConstants.Create
        </a>
    </div>

    @*<!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Add Comment</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form asp-controller="@ValuesConstants.CommentControllerName" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <textarea asp-for="Text" class="form-control text-success" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-controller="@ValuesConstants.CommentControllerName"
                           asp-action="@ValuesConstants.CreateActionName"
                           asp-route-issueId="@this.ViewData[GlobalConstants.IssueId]"
                           type="submit"
                           value="Create"
                           class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@
}

<br />
<div>
    @if (Model.Comments != null && Model.Comments.Any())
    {
        @*<h5>@string.Format(format: MessagesConstants.ClickOnDesiredRow, arg0: GlobalConstants.Comment)</h5>*@
        <div class="table table-striped col-md-12 fixed">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>@nameof(CommentListViewModel.Text)</th>
                        <th>@nameof(CommentListViewModel.CreatedBy).SplitStringByCapitalLetters()</th>
                        <th>@nameof(CommentListViewModel.CreatedAt).SplitStringByCapitalLetters()</th>
                        <th>@nameof(CommentListViewModel.UpdatedAt).SplitStringByCapitalLetters()</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments)
                    {
                        <tr @*onclick="location.href = '@(Url.Action(ValuesConstants.DetailsActionName, ValuesConstants.MilestoneControllerName, new { id = milestone.Id }))'"*@>
                            <td>@comment.Text</td>
                            <td>
                                @($"(ID: {comment.CreatedBy.Id}) {comment.CreatedBy.UserName}")
                            </td>
                            <td>
                                @comment.CreatedAt
                            </td>
                            @if (comment.UpdatedAt != null && comment.UpdatedAt != DateTime.MinValue)
                            {
                                <td>@comment.UpdatedAt</td>
                            }
                            else
                            {
                                <td>-</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div>
            <p>
                @string.Format(
                    format: MessagesConstants.StillNotAddedItems,
                    arg0: GlobalConstants.Comments,
                    arg1: Model.Issue.Title)
            </p>
        </div>
    }
</div>
<br />
<div>
    <a asp-controller="@ValuesConstants.IssueControllerName"
       asp-action="@ValuesConstants.DetailsActionName"
       asp-route-id="@Model.Issue.Id"
       class="btn btn-info">
        Back to @ValuesConstants.Details
    </a>
</div>
