@using System.Linq
@model IssuesViewModel

@{
    ViewData["Title"] = $"{Model.Milestone.Title}'s {GlobalConstants.Issues}";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName)
        || Model.Milestone.Project.LeaderId == this.UserManager.GetUserId(this.User))
    {
        <a asp-area=""
           asp-controller="@ValuesConstants.IssueControllerName"
           asp-action="@ValuesConstants.CreateActionName"
           asp-route-milestoneId="@Model.Milestone.Id"
           asp-route-leaderId="@Model.Milestone.Project.LeaderId"
           class="btn btn-success button">
            @ValuesConstants.Create @GlobalConstants.Issue
        </a>
    }
</div>
<br />
<div>
    @if (Model.Issues != null && Model.Issues.Any())
    {
        <h5 class="text-info">@string.Format(format: MessagesConstants.ClickOnDesiredRow, arg0: GlobalConstants.Issue)</h5>
        <partial name="_IssuesPartial" model="@Model.Issues" />

        var completedIssues = Model.Issues.Where(issue => 
            issue.Status.Name.ToLower() == IssueStatuses.Closed.ToString().ToLower()
            || issue.Status.Name.ToLower() == IssueStatuses.Resolved.ToString().ToLower());

        if (completedIssues != null && completedIssues.Any())
        {
            <br />
            <h4>@($"{Model.Milestone.Title}'s {nameof(completedIssues)}")</h4>
            <partial name="_IssuesPartial" model="completedIssues" />
        }
    }
    else
    {
        <h6>
            @string.Format(
                format: MessagesConstants.StillNotAddedItems,
                arg0: GlobalConstants.Issues,
                arg1: Model.Milestone.Title)
        </h6>
    }
</div>
<div>
    <a asp-controller="@ValuesConstants.MilestoneControllerName"
       asp-action="@ValuesConstants.DetailsActionName"
       asp-route-id="@Model.Milestone.Id"
       class="btn btn-info">
        Back to @ValuesConstants.Details
    </a>
</div>